@model IList<Model.roles>
@{
    ViewBag.Title = "学生身份管理";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutPage1.cshtml";
}

<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">身份管理界面</h3>
    </div>
    <div class="panel-body" style="margin-top:10px;">
        <div class="row">
            <div class="col-md-7 col-md-offset-1">
                <!-- 对表单元素的转换 使用HTML帮助标签转  -->
                @using (Html.BeginForm("index", "School", FormMethod.Get,
                        new { @class = "form-inline" }))
                {
                    <div class="form-group">
                        <input type="text" name="search" class="form-control" value="@ViewBag.Search" />
                    </div>
                    <button class="btn btn-primary">
                        <i class="fa fa-search"></i> 搜索
                    </button>
                    <a href="@Url.Action("Add","School")" class="btn btn-success">
                        <i class="fa fa-plus-circle"></i> 新增身份
                    </a>
                }


                @*<form class="form-inline">
                    </form>*@
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-md-8">
                <table class="table table-hover table-striped">
                    <tr>
                        <th>序号</th>
                        <th>身份名称</th>
                        <th colspan="2" class="col-md-3">操作</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.id</td>
                            <td>@item.posts</td>
                            <td>
                                <a href="@Url.Action("Edit","School",new { id= item.id})" class="btn btn-warning">修改</a>
                            </td>
                            <td>
                                <a href="javascript:void(0);" class="btn btn-danger"
                                   onclick="removeData(@item.id)">
                                    <i class="fa fa-trash"></i> 删除
                                </a>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-md-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>


            </div>


        </div>
    </div>
</div>

@section Scripts{
    <script>
         function removeData(did)
         {
             if (confirm("确定删除这条数据么?"))
             {
                 //我们在这个地方要求实现真正的删除操作 Ajax
                 $.post("../../../Manager/School/Delete", { id: did }, function (result)
                 {
                     if (result)
                     {
                         alert('删除成功');
                         location.href = '../../../Manager/School/index';
                     }
                 }, "json")
             }
         }
    </script>

}